<footer class="footer footer-bottom-illustration">
    <div class="container footer-inner">
        <div class="columns is-multiline b-only-tablet-p-flex">
            <div class="column is-4">
                <div class="footer-group">
                    <a class="footer-logo-left css-ninja" href="#">
                        <img class="light-image-block" src="/img/logo/cssninja.svg" alt="">
                        <img class="dark-image-block" src="/img/logo/cssninja-white.svg" alt="">
                    </a>
                    <p class="footer-text max-w-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Negare non possum.
                        Apparet statim, quae
                        sint officia, quae actiones. </p>
                    <div class="level is-mobile py-4 max-w-1">
                        <a class="level-item footer-link">
                            <span class="icon">
                                <i class="iconify" data-icon="fa:facebook"></i>
                            </span>
                        </a>
                        <a class="level-item footer-link">
                            <span class="icon">
                                <i class="iconify" data-icon="fa:twitter"></i>
                            </span>
                        </a>
                        <a class="level-item footer-link">
                            <span class="icon">
                                <i class="iconify" data-icon="fa:linkedin"></i>
                            </span>
                        </a>
                        <a class="level-item footer-link">
                            <span class="icon">
                                <i class="iconify" data-icon="fa:github"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column is-8">
                <div class="columns b-only-tablet-p-flex b-columns-half-mobile">
                    <div class="column is-4">
                        <div class="footer-group">
                            <h4 class="title is-6">Discover</h4>
                            <ul>
                                <li>
                                    <a class="footer-link">Get Started</a>
                                </li>
                                <li>
                                    <a class="footer-link">Product</a>
                                </li>
                                <li>
                                    <a class="footer-link">Features</a>
                                </li>
                                <li>
                                    <a class="footer-link">Sign Up</a>
                                </li>
                                <li>
                                    <a class="footer-link">Sign In</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="footer-group">
                            <h4 class="title is-6">Company</h4>
                            <ul>
                                <li>
                                    <a class="footer-link">Company</a>
                                </li>
                                <li>
                                    <a class="footer-link">About</a>
                                </li>
                                <li>
                                    <a class="footer-link">Training</a>
                                </li>
                                <li>
                                    <a class="footer-link">FAQs</a>
                                </li>
                                <li>
                                    <a class="footer-link">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="column is-4">
                        <div class="footer-group">
                            <h4 class="title is-6">Support</h4>
                            <ul>
                                <li>
                                    <a class="footer-link">Help Center</a>
                                </li>
                                <li>
                                    <a class="footer-link">Guides</a>
                                </li>
                                <li>
                                    <a class="footer-link">API Docs</a>
                                </li>
                                <li>
                                    <a class="footer-link">Terms</a>
                                </li>
                                <li>
                                    <a class="footer-link">Privacy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-img" role="presentation">
        <img src="/img/bg/footer-city.png" alt="">
    </div>
    <div class="container copyright">
        <div class="has-text-centered">
            <span class="footer-text">© 2020-2021 <a href="https://csssninja.io" target="_blank" class="action-link">Css Ninja</a>. All rights reserved.</span>
        </div>
    </div>
</footer>